/* 高度100% */
.petGoodsList{
    height: 100%;
    background-color: #ceb04f8c;
    margin: -20px;
}
/* 高度100% */
.goodsCard{
    height: 200px;
    width: 300px;
    margin-bottom: 20px;
    /* 父级相对定位 */
    position: relative;
}
/* 商品之间距离 */
.rowClass{
    padding-top: 30px;
    padding-left: 40px;
}
/* 商品图片样式 */
.goodsImage{
    height: 180px;
    width: 100px;
    margin-top: -10px;
    margin-left: -10px;
}
/* 商品标题样式 */
.goodsTitle{
    font-family: cursive;
    font-weight: 600;
}
/* 商品标题库存价格间距 */
.goodsInfo{
    margin-top: 8px;
}
/* 商品描述样式 */
.introduce{
    margin-top: 5px;
    font-size: 14px;
}
/* 售罄样式定位 */
.kong{
    /* 根据父级绝对定位 */
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
    transform: rotate(90deg);
    color: red;
}
/* 分页样式 */
.paginationClass{
    padding-left: 40px;
    /* text-align: center; */
}
/* 搜索框位置 */
.queryClass{
    margin-left: 40px;
    padding-top: 30px;
}
/* 搜索框宽度 */
.queryInput{
    width: 400px;
    height: 42px;
}

.queryButton{
    margin-left: 20px;
}